<?xml version="1.0"?>
<!--
/**
 * @category    Genmato
 * @package     Genmato_DemoProduct
 * @copyright   Copyright (c) 2015 Genmato BV (https://genmato.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Genmato_DemoProduct" schema_version="1.0.0"/>
</config>